<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Modify Customer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
    <div id="app">
        <div class="container">
            <div class="row">
                <!-- Customer Search Form -->
                <div class="col-md-6">
                    <h1>Modify Customer</h1>
                    <form @submit.prevent="validateAndUpdateCustomer">
                        <!-- Form inputs -->
                        <div class="form-group">
                            <label for="fullNameInput">Search for Customer</label>
                            <input v-model="fullName" @keyup.enter="fetchCustomers" type="text" class="form-control" id="fullNameInput" placeholder="Enter customer's full name" style="width: 300px;">
                            <!-- Dropdown menu for matching customers -->
                            <div v-if="showDropdown && customers.length" class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a v-for="customer in customers" @click="selectCustomer(customer)" class="dropdown-item">{{ customer.firstName }} {{ customer.lastName }} - {{ customer.email }} - {{ customer.phoneNumber }}</a>
                            </div>
                        </div>
                        <!-- Invisible fields to display selected customer's information -->
                        <div v-if="selectedCustomer">
                            <div class="form-group">
                                <label for="selectedFirstName">First Name</label>
                                <input type="text" class="form-control" id="selectedFirstName" :value="selectedCustomer.firstName" @input="updateFirstName($event.target.value)">
                            </div>
                            <div class="form-group">
                                <label for="selectedLastName">Last Name</label>
                                <input type="text" class="form-control" id="selectedLastName" :value="selectedCustomer.lastName" @input="updateLastName($event.target.value)">
                            </div>
                            <div class="form-group">
                                <label for="selectedEmail">Email address</label>
                                <input type="email" class="form-control" id="selectedEmail" :value="selectedCustomer.email" @input="updateEmail($event.target.value)">
                            </div>
                            <div class="form-group">
                                <label for="selectedPhoneNumber">Phone Number</label>
                                <input type="text" class="form-control" id="selectedPhoneNumber" :value="selectedCustomer.phoneNumber" @input="updatePhoneNumber($event.target.value)">
                            </div>
                        </div>
                        <!-- Buttons -->
                        <!-- Modify Address Modal Button -->
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#addressModifyModal" :disabled="!selectedCustomer">Modify Address</button>

                        <!-- Modify Credit Card Modal Button -->
                        <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#cardModal" :disabled="!selectedCustomer">Modify Credit Card</button>

                        <!-- Save Changes Button -->
                        <button type="submit" class="btn btn-primary" :disabled="!customerFieldsFilled || !selectedCustomer">Save Changes</button>
                    </form>
                </div>
                <!-- Customer Selection Panel -->
                <div class="col-md-6">
                    <h2>Customer List</h2>
                    <div v-if="selectedCustomer">
                        <p><strong>Selected Customer:</strong></p>
                        <p>{{ selectedCustomerCopy.firstName }} {{ selectedCustomerCopy.lastName }}</p>
                        <p>{{ selectedCustomerCopy.email }}</p>
                        <p>{{ selectedCustomerCopy.phoneNumber }}</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" v-for="customer in customers" @click="selectCustomer(customer)" :key="customer.id">
                            {{ customer.firstName }} {{ customer.lastName }} - {{ customer.email }} - {{ customer.phoneNumber }}
                        </li>
                    </ul>
                </div>
                <!-- Modify Addresses Modal -->
                <div class="modal" id="addressModifyModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modify Addresses</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <!-- Form to modify address -->
                                    <!-- Left column for form to modify address -->
                                    <div class="col-md-6">
                                        <form @submit.prevent="updateAddress">
                                            <div class="mb-3">
                                                <label for="newBuildingNumber" class="form-label">Building Number</label>
                                                <input type="text" class="form-control" id="newBuildingNumber" v-model="newAddress.buildingNumber">
                                            </div>
                                            <div class="mb-3">
                                                <label for="newStreet" class="form-label">Street</label>
                                                <input type="text" class="form-control" id="newStreet" v-model="newAddress.street">
                                            </div>
                                            <div class="mb-3">
                                                <label for="newCity" class="form-label">City</label>
                                                <input type="text" class="form-control" id="newCity" v-model="newAddress.city">
                                            </div>
                                            <div class="mb-3">
                                                <label for="newState" class="form-label">State</label>
                                                <input type="text" class="form-control" id="newState" v-model="newAddress.state">
                                            </div>
                                            <div class="mb-3">
                                                <label for="newZipcode" class="form-label">Zipcode</label>
                                                <input type="text" class="form-control" id="newZipcode" v-model="newAddress.zipcode">
                                            </div>
                                            <!-- Add more input fields for other address details -->
                                            <button type="button" class="btn btn-primary" @click="addAddress">Add Address</button>
                                            <button type="submit" class="btn btn-primary" :disabled="!selectedAddress">Save Changes</button>
                                            <button type="button" class="btn btn-danger mt-2" @click="deleteAddress" :disabled="!selectedAddress">Delete Address</button>
                                        </form>
                                    </div>
                                    <!-- Right column to display customer's addresses -->
                                    <div class="col-md-6">
                                        <!-- Display addresses here -->
                                        <h5>Customer's Addresses:</h5>
                                        <ul class="list-group">
                                            <li class="list-group-item" v-for="address in addresses" @click="selectAddress(address)" :key="address.id">
                                                <!-- Display address details here -->
                                                {{ address.buildingNumber }} {{ address.street }}, {{ address.city }}, {{ address.state }} {{ address.zipcode }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
</div>
                <!-- Modify Credit Card Modal -->
                <div class="modal" id="cardModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Modify Credit Cards</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        <button type="button" class="btn btn-primary mt-3" @click="showAddCreditCardModal">Add Credit Card</button>
                                        <button type="button" class="btn btn-danger mt-2" @click="deleteCreditCard" :disabled="!selectedCreditCard">Delete Credit Card</button>
                                    </div>
                                    <div class="col-md-6">
                                        <h5>Customer's Credit Cards:</h5>
                                        <ul class="list-group">
                                            <li class="list-group-item" v-for="creditCard in creditcards" @click="selectCreditCard(creditCard)" :key="creditCard.id">
                                                <!-- Display credit card details here -->
                                                {{ creditCard.number }} - {{ creditCard.expMonth }}/{{ creditCard.expYear }}
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Add Credit Card Modal -->
                <div class="modal" id="addCreditCardModal" tabindex="-1">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title">Add Credit Card</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <!-- Content for adding credit card -->
                                <div class="modal-group">
                                    <label for="cardNumberInput">Card Number</label>
                                    <input v-model="cardNumber" type="number" class="form-control" id="cardNumberInput" placeholder="Card Number" style="width: 200px;">
                                </div>
                                <div class="modal-group">
                                    <label for="expMonthInput">Expiration Month</label>
                                    <input v-model="expMonth" type="number" class="form-control" id="expMonthInput" placeholder="Expiration Month" style="width: 200px;">
                                </div>
                                <div class="modal-group">
                                    <label for="expYearInput">Expiration Year</label>
                                    <input v-model="expYear" type="number" class="form-control" id="expYearInput" placeholder="Expiration Year" style="width: 200px;">
                                </div>
                                <!-- Additional fields for billing address -->
                                <div class="modal-group">
                                    <label for="billingCompleteAddressInput">Search for Address</label> 
                                    <input type="text" class="form-control autocomplete" id="billingCompleteAddressInput" placeholder="Search for Address" style="width: 100%;">
                                </div>
                                <div class="modal-group">
                                    <label for="billingBuildingNumberInput">Building Number</label>
                                    <input v-model="billingBuildingNumber" type="number" class="form-control autocomplete" id="billingBuildingNumberInput" placeholder="Billing Building Number" style="width: 200px;">
                                </div>
                                <div class="modal-group">
                                    <label for="billingStreetInput">Street</label>
                                    <input v-model="billingStreet" type="text" class="form-control autocomplete" id="billingStreetInput" placeholder="Billing Street" style="width: 200px;">
                                </div>
                                <div class="modal-group">
                                    <label for="billingCityInput">City</label>
                                    <input v-model="billingCity" type="text" class="form-control autocomplete" id="billingCityInput" placeholder="Billing City" style="width: 200px;">
                                </div>
                                <div class="modal-group">
                                    <label for="billingStateInput">State</label>
                                    <input v-model="billingState" type="text" class="form-control autocomplete" id="billingStateInput" placeholder="Billing State" style="width: 200px;">
                                </div>
                                <div class="modal-group">
                                    <label for="billingZipcodeInput">Zip Code</label>
                                    <input v-model="billingZipcode" type="number" class="form-control autocomplete" id="billingZipcodeInput" placeholder="Billing Zip Code" style="width: 200px;">
                                </div>
                                <!-- Include the content you provided for adding credit card modal here -->
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-primary" @click="addCreditCard">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Boostrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- My app.js file-->
    <script src="app.js"></script>
</body>
</html>